*{
    padding: 0;
    margin: 0;
    outline: none;
}
@font-face {
    font-family: fbfont;
    src: url(fonts/FontsFree-Net-SFProDisplay-Regular.ttf);
}
body{
    background-color: white;
}
.main{
    /* border-style: solid; */
    border-width: 1px;
    height: 80.5vh; 
    background-color: #f0f2f5;
}
.double{
    text-align: center;
}
.double2{
    text-align: center;
}
.final{
    text-align: center;
}
.subtn{
    text-align: center;
}

.logo{
    text-align: center;
    padding: 5px;
}
img{
    height: 100px;
}
.form{
    background-color: white;
    margin: auto;
    width: 22%;
    height: 76%;
    padding-top: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
.text{
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    color: #1c1e21;
    font-family: fbfont;
    font-weight: 600;
    display: block;
}
.text2{
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #606770;
    font-family: fbfont;
    font-weight: normal;
    display: block;
}
.classline{
    border: 1px solid #dadde1;
    opacity: 0.3;
    /* width: 432px; */
    box-sizing: border-box;
    display: block;
}
.inputtype{
    font-family: fbfont;
    line-height: 1.34;
    display: inline-block;
    position: relative;
    padding: 8px 4px 7px 8px;
    border-radius: 6px;
    opacity: 1;
    border: 1px solid #dadde1;
    font-size: 16px;
}
.inputtype::-webkit-input-placeholder{
    opacity: 0.9;
}
.e_p{
    font-family: fbfont;
    line-height: 1.34;
    display: inline-block;
    position: relative;
    padding: 8px 198px 7px 8px;
    border-radius: 6px;
    opacity: 1;
    border: 1px solid #dadde1;
    font-size: 16px;
    margin-top: 8px;
}
.e_p::-webkit-input-placeholder{
    opacity: 0.9;}
#dob{
    font-family: fbfont;
    margin-top: 14px;
    color: #606770;
    font-size: 12px;
    display: block;
    margin-right: 320px;
}
.dob{
    font-family: fbfont;
    line-height: 1.34;
    display: inline-block;
    border-radius: 6px;
    opacity: 1;
    border: 1px solid #dadde1;
    font-size: 16px;
    color: #1c1e21;
    padding: 7px 69px 7px 3px;
    margin-top: 5px;
}
#gender{
    font-family: fbfont;
    margin-top: 14px;
    color: #606770;
    font-size: 12px;
    display: block;
    margin-right: 342px;
}
.radio{
    display: none;
}
label{
    font-family: fbfont;
    line-height: 1.34;
    display: inline-block;
    border-radius: 6px;
    opacity: 1;
    border: 1px solid #dadde1;
    font-size: 16px;
    color: #1c1e21;
    padding: 7px 76px 7px 7px;
    margin-top: 5px;
}
#endtext1{
    font-family: fbfont;
    margin-top: 14px;
    color: #606770;
    font-size: 12px;
    display: block;
    margin-right: 18px;
}
#endtext2{
    font-family: fbfont;
    margin-top: 14px;
    color: #606770;
    font-size: 12px;
    display: block;
    margin-right: 3px;
}
.extra1{
    margin-right: 259px;
}
.extra2{
    margin-right: 40px;
}
a{
    text-decoration: none;
}
.subtn{
    margin-top: 24px;
}
.signup{
    border: none;
    height: 36px;
    color: white;
    background-color: #00a400;
    font-weight: bold;
    font-family: fbfont;
    font-size: 18px;
    padding: 0 70px;
    border-radius: 6px;
    cursor: pointer;
}
.already{
    color: #1877f2;
    font-family: fbfont;
    font-size: 19px;
    line-height: 52px;
    margin-left: 110px;
}
.a:hover{
    text-decoration: underline;
}
a{
    color: #2a519e;
}





